._510n .fbNubFlyoutBodyContent{margin-right:15px;min-width:350px;padding:5px}._510n .fbNubButton{color:#1d2129;text-shadow:1px 1px rgba(255, 255, 255, .25)}._510n .fbNubFlyoutBodyContent table{width:100%}

#bootloader_6qanW{height:42px;}.bootloader_6qanW{display:block!important;}